body {
    background-color: #f8f9fa;
}

nav .container-fluid{
    background-color: white;
}

.my_size_logo {
    height: 36px;
}

.my_aside_bg {
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
}

.my_nav {
    /* sto esplicitando l'altezza risultante dalle stilizzazioni di bootstrap */
    height: 56px;
    width: 100%;
}

#header {
    background-color: #1b72e8;
    height: 120px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

#lower-section {
    display: flex;
    
    height: calc(100vh - 56px);
}

.my_aside {
    border: solid 2px black;
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    /* test */
    width: 150px;
}

.my_main {
    background-color: #f8f9fa;
    border: solid 2px black;
    /* test */

    width: calc(100% - 150px);

    overflow-y: auto;
}

.my_header_badge {
    background-color: #165bba !important;
}

.my_middle {
    display: flex;
    justify-content: center;
}

.my_plus:hover {
    color: #1b72e8;
}