body {
    background-color: #f8f9fa;
}

nav .container-fluid{
    background-color: white;
}

.my_size_logo {
    height: 36px;
}

.my_aside_bg {
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
}

.my_nav {
    /* sto esplicitando l'altezza risultante dalle stilizzazioni di bootstrap */
    height: 56px;
    width: 100%;
}

#header {
    background-color: #1b72e8;
    height: 120px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

#lower-section {
    display: flex;
    
    height: calc(100vh - 56px);
}

.my_aside {
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    /* test */
    width: 70px;
}

.my_aside_txt {
    font-size: 20px;
}

.my_main {
    background-color: #f8f9fa;

    width: calc(100% - 70px);

    overflow-y: auto;
}

.my_header_badge {
    background-color: #165bba !important;
}

.my_middle {
    display: flex;
    justify-content: center;
}

.my_table_name {
    width: 40%;
}

.my_avatar {
    height: 35px;
    margin-right: 0.5em;
}

.my_tab_h {
    text-align: center;
    font-weight: 600;
}

td {
    text-align: center;
    vertical-align: middle;

    font-weight: 400;
}

.my_table_size {
    width: calc(100% - 2em);
    margin-left: 1em;
}

.my_dropdown {
    right: 20%;
    left: auto !important;
    top: 105% !important;
}

.my_inside_border {
    border: 1px solid #dee2e6 !important;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/* ----- Regole Hover ----- */

.my_plus:hover {
    color: #1b72e8;
}

aside a:hover {
    text-align: left;
    width: 85%;
    background-color: rgb(255, 255, 255, 50%);
}

/* ----- Regole Media Query ----- */

@media screen and (min-width: 768px) {

    .my_aside {
        width: 150px;
    }

    .my_main {
        width: calc(100% - 150px);
    }    

    .my_aside_txt {
        font-size: 12px;
    }

    aside a:hover {
        width: auto;
        width: 50%;
        background-color: rgb(255, 255, 255, 50%);
        text-align: left;
    }

    .my_off {
    width: 40% !important;
}
}

/* @media screen and (min-width: 576px) {

    
} */