body {
    background-color: #f8f9fa;
}

nav .container-fluid {
    background-color: white;
}

main {
    height: calc(100vh - 66px);
    margin-top: 66px;
}

#header {
    background-color: #1b72e8;
}

.my_aside_bg {
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
}

.my_aside_txt {
    font-size: calc(0.9em + 0.1vw);
}

.my_ml_size {
    height: 28px;
}

.my_mob_logo {
    height: 28px;
    width: 28px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

#aside {
    top: 66px;

    height: 100% - 66px;
}

